<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cancer Predictor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
       
    </head>
    <body>
        <header class="header">
            <h1>Cancer Prediction Model</h1>
        </header>
        <div class="container">
            <h1 class="text-center">Cancer Prediction using Protein </h1>
            <form action="{{ url_for('hello') }}" method="POST">
                <div class="form-group">
                    <textarea name="proteinInput" id="title" placeholder="Enter Protein Name " rows="7" cols="'60" required></textarea>
                </div>

                <div>
                    <label for="model_choice">Select Model Type:</label>
                    <select name="model_choice" id="model_choice">
                        <option value="ml">Machine Learning</option>
                        <option value="dl">Deep Learning</option>
                    </select>
                </div>

                <div class="form-footer">
                    <input class="btn btn-success" type="submit" value="Check">
                </div>
            </form>
        </div>

        <footer class="footer">
            <p>&copy; 2025 Cancer Prediction Model. All rights reserved.</p>
        </footer>
    </body>
</html>